@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto&display=swap');

/* roboto-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html {
    background-color:white;
}

.homePage {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;
    width: 100vw;
}

.pic {
    overflow-clip-margin: content-box;
    overflow: clip;
    background-color: #ddd;
    border-radius: 100px;
    display: block;
    margin: 40px auto 20px;
    min-height: auto;
    width: 128px;

}

.name, .underName {
    font-family: 'Roboto';
    font-size: 220%;
    text-align: center;
}

.underName {
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 0;
    line-height: 24px;
    padding-left: 1em;
    padding-right: 1em;
}

a {
    text-decoration: none;
    color: white;

}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.homeButtons button {
    padding: 10px 60px;
    font-weight: bold;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 40px;
    cursor: pointer;
}

.homeButtons button:hover {
    background-color: #0056b3;
    transition: .8s;
}

.homeButtons button:active {
    background-color: #003e80;
}

.contactButton {
    
}

.projectButton {
    margin-left: 20px;
}
